<h2>Add Genre</h2>
<form method="POST" action="/genres">
  <div class="form-wrapper">

    <div class="form-el">
      <label for="type">Type:</label>
      <input type="text" name="type" id="type"/>
    </div>

    <div class="form-el">
      <input type="submit" value="Add Genre"/>
    </div>

  </div>
</form>
