<!DOCTYPE html>
<html>
<head>
  <title>Spinning Records Inventory</title>
  <link rel="icon" href="/spinning-7-inch.gif" />
</head>
<body>
  <img src="/spinning-7-inch.gif" style="width:100px;height:100px;">
  <nav>
    <ul>
      <li>
        <a href="/albums">Inventory</a>
        <a href="/albums/new">Add new Album</a>
        <a href="/artists/new">Add new Artist</a>
      </li>
    </ul>
  </nav>
  <%= yield %>
</body>
</html>
