<!DOCTYPE html>
<html>
<head>
  <title>Spinning Records Inventory</title>
</head>
<body>
  <nav>
    <ul>
      <li>
        <a href="/albums">Inventory</a>
      </li>
      <li>
        <a href="/albums/new">Add new Album</a>
        <a href="/artists/new">Add new Artist</a>
      </li>
    </ul>
  </nav>
  <%= yield %>
</body>
</html>
