<!-- <h2>Artist Name</h2> -->

<div id="artist-wrapper">

  <br>
  <table>
  <tr>
    <th class="a"> Artist Name</th>
  </tr>
  <br>
  <% @artists.each do |artist| %>
  <tr>
    <td class="c"><%= artist.name %></td>
  </tr>
<% end %>
</table>
<br>

  <form method="get" action="/artists/new">
  <input type="submit" value="Add new Artist" />

</div>
